@import "tailwindcss";

@theme {
    --font-sans: 'Outfit', sans-serif;

    --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;
    --animate-pop: pop 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes pop {
        0% {
            transform: scale(0.5) translateY(-20px);
            opacity: 0;
        }

        100% {
            transform: scale(1) translateY(0);
            opacity: 1;
        }
    }
}

html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}